<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    
    <!-- //web font -->
    <link rel="stylesheet" th:href="@{register.css}">
    <style>
       
    </style>
</head>

<body>
    <!-- main -->
    
    <div class="main-w3layouts wrapper">
        <h1>Creative SignUp Form</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form class= "register"action="" method="post">
                    <input class="text" type="text" name="fullname" id="fullname" placeholder="Fullname" required="">
                    <input class="text email" type="email" name="email" id="email" placeholder="Email" required="">
                    <input class="text" type="password" name="password" id="password" placeholder="Password" required="">
                    <input class="text w3lpass" type="password" name="passwordRep" id="passwordRep" placeholder="Confirm Password"
                        required="">
                    <div class="wthree-text">
                        <label class="anim">
                            <input type="checkbox" class="checkbox" required="">
                            <span>I Agree To The Terms & Conditions</span>
                        </label>
                        <div class="clear"> </div>
                    </div>
                    <input type="hidden" id="user_id" name="user_id" style="display:none">
                    <input type="submit" value="SIGNUP">
                </form>
                <p>Don't have an Account? <a href="/login"> Login Now!</a></p>
            </div>
        </div>
        <!-- copyright -->
        <div class="colorlibcopy-agile">
            <p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/"
                    target="_blank">Colorlib</a></p>
        </div>
        <!-- //copyright -->
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- //main -->
</body>

<script>
    const register = document.querySelector('.register');
    register.addEventListener('submit', (e) => {
        const fullname = document.querySelector('#fullname').value;
        const email = document.querySelector('#email').value;
        const password = document.querySelector('#password').value;
        const passwordRep = document.querySelector('#passwordRep').value;
        if (password !== passwordRep) {
            alert('Password does not match');
        } else {
            const user_id = createID(fullname);
            document.querySelector('#user_id').value = user_id;
            alert('Register Successfull');
            register.setAttribute('action', "/loginSuccess");
        }
    })

    function createID(fullname){
        var today = new Date();
        var date = today.getDate();
        var month = today.getMonth() + 1;
        var hours = today.getHours();
        var minutes = today.getMinutes();
        var seconds = today.getSeconds();
        var lastThreeDigits = fullname.substring(fullname.length - 3);
        var userID = `${date}${month}${hours}${minutes}${seconds}${lastThreeDigits}`;
        return userID;
    }
</script>
</html>